# Removing Tex and/or PdfTex auxiliary files
text/*.aux
text/*.bbl
text/*.log
text/*.blg
text/*.lof
text/*.lot
text/*.out
text/*.synctex.gz
text/*.toc

# Removing inkscape images auxiliary files
text/images/*.pdf
text/images/*.sh

# Removing files from compilations
**/*.o
thermal_diode

# Removing data resulting from tests
data/*
